/* 
 * Styles specific to elements parsed from markdown content
 */

.markdown-content {
    /*
     * Markdown checkboxes are parsed as native <input type="checkbox"> elements
     * and are disabled by default. Unlike shadcn's custom checkbox component, these
     * must be styled directly while avoiding disabled styles that would gray them out.
     */
    input[type='checkbox'] {
        appearance: none;
        -webkit-appearance: none;
        background-color: white;
        position: relative;

        @apply border-input dark:bg-input/30 focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none focus-visible:ring-[3px];
    }

    input[type='checkbox']:checked {
        @apply accent-input border-input dark:bg-input/30 bg-primary text-primary-foreground dark:bg-primary border-primary focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none focus-visible:ring-[3px];
    }

    input[type='checkbox']:checked::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid var(--secondary);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
    }

    input[type='checkbox']:disabled {
        /* @apply disabled:cursor-not-allowed disabled:opacity-50; */
    }

    input[type='checkbox']:disabled:checked::before {
        /* @apply cursor-not-allowed opacity-50; */
    }

    li:has(> input[type='checkbox']) {
        @apply flex items-center gap-2 list-none;
    }

    .code-block-container {
        @apply mt-4;
    }

    pre {
        code,
        code.hljs {
            @apply pt-12;
        }
    }

    /* Style links that are NOT inside headings */
    a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
        @apply text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-300 underline underline-offset-4 decoration-blue-500/30 hover:decoration-blue-500/50 transition-colors;
    }

    /* a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):visited {
        @apply text-purple-500 hover:text-purple-600 dark:text-purple-400 dark:hover:text-purple-300 decoration-purple-500/30 hover:decoration-purple-500/50;
    } */

    /* Add margin to the top of the headings based on the heading level */
    h1 {
        @apply mt-12;
    }

    h2 {
        @apply mt-10;
    }

    h3 {
        @apply mt-8;
    }

    h4 {
        @apply mt-6;
    }

    h5 {
        @apply mt-4;
    }

    h6 {
        @apply mt-2;
    }

    hr {
        @apply my-8;
    }
}
